@model PropinaWeb.ViewModel.ColectaViewModel.AltaColectaViewModel

@{
    ViewBag.Title = "AltaColecta";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Nueva Colecta</h2>
        @using (Html.BeginForm("AltaColecta", "Colecta", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()

            @*@Html.HiddenFor(x => x.administrador.Id)*@

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(x => x.Texto, htmlAttributes: new { @class = "control-label" })
                @*@Html.TextBoxFor(x => x.Texto, new { @id = "pregunta", @class = "form-control", @placeholder = "Texto" })*@
                @*@Html.TextArea("Texto", null, new { @placeholder = "Los empleados firmantes de la planilla están de acuerdo en que se le pague la propina. Se aclara que con el 50% de las firmas se le pagará el 75% de la propina y con un 75% o mas de firmas se le pagará el 100% de la misma.",@class = "form-control",@rows="8", @cols = "60" })*@
                <textarea class="form-control" cols="60" data-val="true" data-val-required="El campo Texto es obligatorio." id="Texto" name="Texto" rows="8">La persona anteriormente mencionada se encuentra necesitando la colaboración de los compañeros. El que pueda y quiera colaborar deberá indicar el importe a descontar en el próximo reparto de propina.</textarea>
                @Html.ValidationMessageFor(x => x.Texto, "", new { @class = "text-danger" })
            </div>

            <div>
                <label class="control-label">Seleccione un empleado</label>
                @Html.DropDownListFor(model => model.IdSeleccionado, Model.ListaEmpleados, new { @class = "form-control" })
            </div>

            <br>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ingresar Colecta
            </button>
        }
    </div>
</div>

