@model PropinaWeb.ViewModel.ColectaViewModel.ColaborarViewModel

@{
    ViewBag.Title = "Colaborar";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Ingreso Colecta</h2>
        @using (Html.BeginForm("Colaborar", "Colecta", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Colecta.Id)

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(x => x.MontoPesos, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoPesos, new { @id = "MontoPesos", @class = "form-control", @placeholder = "MontoPesos" })
                @Html.ValidationMessageFor(x => x.MontoPesos, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MontoDolares, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoDolares, new { @id = "MontoDolares", @class = "form-control", @placeholder = "MontoDolares" })
                @Html.ValidationMessageFor(x => x.MontoDolares, "", new { @class = "text-danger" })
            </div>           

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ingresar Colaboración
            </button>
        }
    </div>
</div>

