@model PropinaWeb.ViewModel.PlanillaViewModel.AltaPlanillaViewModel
@{
    ViewBag.Title = "Ver";
}


<div class="row">
    <div class="col-xs-12">   
        <h2>Información Planilla</h2>
        <h3>Planilla para el empleado: @Model.planilla.empleado.Nombre, @Model.planilla.empleado.Apellido</h3>  
        <p>
            @Model.planilla.Texto
        </p>
        <div>
            <h3>Lista de empleados que FIRMARON la planilla:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Firma</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var c in Model.planilla.Empleados)
                    {
                        if (Session["IdUsuario"] != null && Convert.ToInt32(Session["IdUsuario"]) == c.Id)
                        {
                            <tr class="alert-success">
                                <td><b>@c.Nombre</b></td>
                                <td><b>@c.Apellido</b></td>
                                <td><b>Si</b></td>
                            </tr>
                        }
                        else {
                            <tr>
                                <td>@c.Nombre</td>
                                <td>@c.Apellido</td>
                                <td>Si</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

        <h3>Porcentaje Firmas: @Model.PorcentajeFirmas %</h3>

        @if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("EMPLEADO") && Model.PuedeFirmar && Model.planilla.Habilitada && !Model.planilla.Eliminado)
        {
            if (!Model.Firma)
            {
                <button type="button" class="btn btn-success" OnClick="location.href = '../FirmarPlanilla/@Model.planilla.Id'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Firmar 
                </button>
            }
            else
            {
                <button type="button" class="btn btn-warning" OnClick="location.href = '../QuitarFirmarPlanilla/@Model.planilla.Id'">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Quitar Firmar 
                </button>
            }
        }
        
        
    </div>
</div>

