@model PropinaWeb.ViewModel.PlanillaViewModel.AltaPlanillaViewModel
@{
    ViewBag.Title = "Ver";
}


<div class="row">
    <div class="col-md-10">   
        <h2>Planilla</h2>  
        <h3>@Model.planilla.empleado.Nombre, @Model.planilla.empleado.Apellido</h3>
        <div>
            @Model.planilla.Texto
        </div>
        <div>
            <h3>Firmas</h3>
            @foreach (var e in Model.planilla.Empleados)
            {
                <div>@e.Nombre, @e.Apellido</div>
            }
        </div>

        @if (!Model.Firma && Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("EMPLEADO"))
        {
            <button type="button" class="btn btn-success" OnClick="location.href = '../FirmarPlanilla/@Model.planilla.Id'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Firmar Planilla
            </button>
        }
        else if(Model.Firma && Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("EMPLEADO") && Convert.ToInt32(Session["IdUsuario"])!=Model.planilla.empleado.Id)
        {
            <button type="button" class="btn btn-warning" OnClick="location.href = '../QuitarFirmarPlanilla/@Model.planilla.Id'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Quitar Firmar Planilla
            </button>
        }

        
    </div>
</div>

