@model ET.RepartoDiario

@{
    ViewBag.Title = "AltaRepartoDiario";
}

<div class="row">
    <div class="col-md-10 pull-right">
        <h2>AltaRepartoDiario</h2>
        @using (Html.BeginForm("AltaRepartoDiario", "Reparto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Reparto.Id)

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(x => x.MontoPesosMesas, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoPesosMesas, new { @id = "MontoPesosMesas", @class = "form-control", @placeholder = "MontoPesosMesas" })
                @Html.ValidationMessageFor(x => x.MontoPesosMesas, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MontoDolaresMesas, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoDolaresMesas, new { @id = "MontoDolaresMesas", @class = "form-control", @placeholder = "MontoDolaresMesas" })
                @Html.ValidationMessageFor(x => x.MontoDolaresMesas, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MontoPesosOtros, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoPesosOtros, new { @id = "MontoPesosOtros", @class = "form-control", @placeholder = "MontoPesosOtros" })
                @Html.ValidationMessageFor(x => x.MontoPesosOtros, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.MontoDolaresOtros, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.MontoDolaresOtros, new { @id = "MontoDolaresOtros", @class = "form-control", @placeholder = "MontoDolaresOtros" })
                @Html.ValidationMessageFor(x => x.MontoDolaresOtros, "", new { @class = "text-danger" })
            </div>


            <div>FALTA SELECCIONAR FECHA...</div>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ingresar
            </button>
        }
    </div>
</div>



