@model PropinaWeb.ViewModel.RepartoViewModel.EditarRepartoViewModel
@{
    ViewBag.Title = "EditarReparto";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Editar Reparto</h2>

        @using (Html.BeginForm("EditarReparto", "Reparto", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            //Seguridad
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Reparto.Id)

            @*@Html.HiddenFor(x => x.administrador.Id)*@

            //Lista de errores
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(x => x.Reparto.MontoTotalPesos, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Reparto.MontoTotalPesos, new { @id = "MontoTotalPesos", @class = "form-control", @placeholder = "MontoTotalPesos" })
                @Html.ValidationMessageFor(x => x.Reparto.MontoTotalPesos, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Reparto.MontoTotalDolares, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Reparto.MontoTotalDolares, new { @id = "MontoTotalDolares", @class = "form-control", @placeholder = "MontoTotalDolares" })
                @Html.ValidationMessageFor(x => x.Reparto.MontoTotalDolares, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Reparto.Fecha, htmlAttributes: new { @class = "control-label" })
                <input class="form-control" type="date" id="Fecha" name="Fecha" value="@Model.Reparto.Fecha.ToString("dd-MM-yyyy")"/>
            </div>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Actualizar Reparto
            </button>

            <h2>Ingreso Diario</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Pesos Mesas</th>
                        <th>Dolares Mesas</th>
                        <th>Pesos Otras Áreas</th>
                        <th>Dolares Otras Áreas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var c in Model.Reparto.RepartosDiarios)
                    {
                        <tr>
                            <td>@c.Fecha.ToString("dd-MM-yyyy")</td>
                            <td>@c.MontoPesosMesas</td>
                            <td>@c.MontoDolaresMesas</td>
                            <td>@c.MontoPesosOtros</td>
                            <td>@c.MontoDolaresOtros</td>
                            <td><a title="Editar" href="~/Reparto/EditarRepartoDiario/@c.Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <button type="button" class="btn btn-success" OnClick="location.href = '../AltaRepartoDiario/@Model.Reparto.Id'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Monto Diario
            </button>

        }
    </div>
</div>

