@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*@if (Session["TipoUsuario"] != null && Session["TipoUsuario"].ToString().Equals("ADMINISTRADOR"))
        {
            <li>
                @Html.ActionLink(Session["NombreUsuario"].ToString(), "Editar", "Administrador", new { Id = Convert.ToInt32(Session["IdUsuario"]) }, null)
            </li>
        }*@
        @if (Session["TipoUsuario"] != null)
        {
            <li>@Html.ActionLink("Repartos", "MostrarDatos", "Reparto")</li>
            <li>@Html.ActionLink("Planillas", "ListaPlanillas", "Planilla")</li>
            <li>@Html.ActionLink("Cerrar sesión", "Logoff", "Cuenta", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
        }
        @if (Session["TipoUsuario"] == null)
        {
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Cuenta", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
}
